<p>Hands On 3</p>
<h2>Employee Details</h2>
<ul *ngFor="let i of Employee">
    <hr>
    <li><strong>ID: </strong>{{i.ID}}</li>
    <li><strong>Name: </strong>{{i.Name}}</li>
    <li><strong>Salary: </strong>{{i.Salary | currency:'INR'}}</li>
    <li *ngIf="i.Permanent"><strong>Permanent: </strong>Yes</li>
    <li><strong>Department Id: </strong>{{i.Department.DID}}</li>
    <li><strong>Department Name: </strong>{{i.Department.DName}}</li>
    <li><strong>Skills: </strong>
        <table>
            <thead>
                <tr>
                    <th>Skill Id</th>
                    <th>Skill Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skill of i.Skill">
                    <td>{{skill.SId}}</td>
                    <td>{{skill.SName}}</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li><strong>Date of Birth: </strong>{{i.Dob | date}}</li>
</ul>