<strong>Angular Handson</strong>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-basics'>Basics </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-employee'>View Employee </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-emp-list'>Employees </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-edit-emp'>Edit Employee </a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-edit-emp-reactive'>Edit Employee Reactive</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-one'>Quantity Increment</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-user'>Users</a>&nbsp;&nbsp;
<a routerLinkActive="active" routerLink='/app-login'>Login</a>&nbsp;&nbsp;

<hr>
<router-outlet></router-outlet>

