<p>Hands On 5</p>
<div class="block">
  <strong>Edit Employee</strong>
  <br>
  <form #empForm="ngForm" (ngSubmit)="onSubmit(empForm)">
      <div>
          <br>
          <label for="employee.Name"><strong>Name</strong></label><br>
          <input required minlength="2" maxlength="10" ngModel name="Name" id="Name" #Name="ngModel" type="text">
          <div class="alert" *ngIf="Name.touched && !Name.valid">
              <div *ngIf="Name.errors?.required">Name is required</div>
              <div *ngIf="Name.errors?.minlength">Name must be at least {{
                  Name.errors?.minlength.requiredLength }} charecters long.</div>
          </div>
      </div>
      <div>
          <br>
          <label for="employee.Salary"><strong>Salary</strong></label><br>
          <input required ngModel name="Salary" id="Salary" #Salary="ngModel" type="number">
          <div class="alert" *ngIf="Salary.touched && !Salary.valid">
              <div *ngIf="Salary.errors?.required">Salary is required</div>
          </div>
      </div>
      <div>
          <br>
          <label for="employee.Permanent"> <strong>Is Permanent or not?</strong><br></label>
          <input required ngModel name="Permanent" #Permanent="ngModel" id="Yes" value="true" type="radio"> Yes
          <input required ngModel name="Permanent" #Permanent="ngModel" id="No" value="false" type="radio"> No

      </div>
      <div>
          <br>
          <label for="employee.Department"><strong>Department</strong></label>
          <select required ngModel name="Department" id="Department">
              <option *ngFor="let item of departments" [value]="item.DID">{{ item.DName }}</option>
          </select>
      </div>
      <br>
      <button type="submit" [disabled]="!empForm.valid">Save</button>
  </form>
</div>
<div class="block">

  <strong>Employee Model</strong><br>

  <pre>{{employee | json }}</pre>

</div>
<div class="block">

  <strong>Angular Generated Form Model</strong><br>

  <pre>{{empForm.value | json}}</pre>

</div>
